<h1>
  <%= @search.name %>
</h1>

<hr />

<h2>
  Areas
</h2>
<ul>
  <% @areas.each do |area| %>
    <li>
      <%= area.name %>
    </li>
  <% end %>
</ul>

<hr />

<h2>
  Refresh Interval
</h2>

<p>
  <%= @search.refresh_interval.capitalize %>
</p>

<hr />

<h1>
  New Results
</h1>

<ul>
  <% @fresh_results.each do |fresh_result| %>
  <!-- TODO: Ability to section by date posted -->
    <li>
      <%= link_to fresh_result.listing.title, fresh_result.listing.url, target: '_blank' %>
      <%= form_for fresh_result do |f| %>
        <%= f.hidden_field :visited, value: true %>
        <%= f.submit 'Mark as Visited' %>
      <% end %>
    </li>
  <% end %>
</ul>

<hr />

<h1>
  Visited Results
</h1>

<ul>
  <% @visited_results.each do |visited_result| %>
  <!-- TODO: Ability to section by date posted -->
    <li>
      <%= link_to visited_result.listing.title, visited_result.listing.url, target: '_blank' %>
      <%= form_for visited_result do |f| %>
        <%= f.hidden_field :blacklisted, value: true %>
        <%= f.submit 'Blacklist' %>
      <% end %>
    </li>
  <% end %>
</ul>
