<h1>
  <%= @search.name %>
</h1>

<hr />

<h2>
  Areas
</h2>
<ul>
  <% @areas.each do |area| %>
    <li>
      <%= area.name %>
    </li>
  <% end %>
</ul>

<hr />

<h2>
  Refresh Interval
</h2>

<p>
  <%= @search.refresh_interval.capitalize %>
</p>

<hr />

<h1>
  New Results
</h1>

<ul>
  <% @new_results.each do |new_result| %>
  <!-- TODO: Ability to section by date posted -->
    <li>
      <%= link_to new_result.listing.title, new_result.listing.url, target: '_blank' %>
      <!-- TODO: Ability to blacklist this search association (but not delete the listing) -->
      <!-- TODO: New listings are added to old listings after clicking link -->
    </li>
  <% end %>
</ul>

<hr />

<h1>
  Old Results
</h1>

<ul>
  <% @old_results.each do |old_result| %>
  <!-- TODO: Ability to section by date posted -->
    <li>
      <%= link_to old_result.listing.title, old_result.listing.url, target: '_blank' %>
      <!-- TODO: Ability to blacklist this search association (but not delete the listing) -->
    </li>
  <% end %>
</ul>
