<h1>
  <%= @search.name %>
</h1>

<hr />

<h2>
  Areas
</h2>
<ul>
  <% @areas.each do |area| %>
    <li>
      <%= area.name %>
    </li>
  <% end %>
</ul>

<hr />

<h2>
  Refresh Interval
</h2>

<p>
  <%= @search.refresh_interval.capitalize %>
</p>

<hr />

<h1>
  Favorited
</h1>

<ul>
  <% @favorited_results.each do |favorited_result| %>
  <!-- TODO: Ability to section by date posted -->
    <li>
      <%= link_to favorited_result.listing.title, favorited_result.listing.url, target: '_blank' %>
      <%= form_for favorited_result do |f| %>
        <%= f.hidden_field :favorited, value: false %>
        <%= f.submit 'Unfavorite' %>
      <% end %>
    </li>
  <% end %>
</ul>

<hr />

<h1>
  Results
</h1>

<ul>
  <% @results.each do |result| %>
  <!-- TODO: Ability to section by date posted -->
    <li>
      <%= link_to result.listing.title, result.listing.url, target: '_blank' %>
      <%= form_for result do |f| %>
        <%= f.hidden_field :blacklisted %>
        <%= f.submit 'Remove from this Search' %>
      <% end %>
      <%= form_for result do |f| %>
        <%= f.hidden_field :favorited, value: true %>
        <%= f.submit 'Favorite' %>
      <% end %>
    </li>
  <% end %>
</ul>

<hr />
